<extend name="Public/base"/>

<block name="body">
    <style type="text/css">
        .form_info li>label{width: 130px;}
        .keyword-wrap .content .li-com {
            padding: 5px;
        }
        .keyword-wrap .content .li-com .wangEditor-container{
            width: 90%;
            margin-left: 50px;
            margin-top: 10px;
        }

        .keyword-wrap .content .li-com .img-pre-show{
            margin-left: 50px;
            margin-top: 10px;
        }
        .keyword-wrap .content .li-com span.key-text {
            display: inline-block;
            width: 100px;
            text-align: right;
        }
        .keyword-wrap .content .li-com label {
            margin: 0 15px;
        }
        .keyword-wrap .content .li-com .tuwen-content {
            margin-left: 50px;
            margin-top: 10px;
            border: 1px solid #a9a9a9;
            padding: 10px;
        }
        .keyword-wrap .content .li-com .text-content {
            margin-left: 50px;
            margin-top: 10px;
        }
        .keyword-wrap .content .li-com .text-content textarea {
            width: 100%;
            min-height: 150px;
            padding: 15px;
            box-sizing: border-box;
        }
        .keyword-wrap .content .li-com .show-content {
            display: none;
        }
        .keyword-wrap .content .li-com .show-content.active {
            display: block;
        }

        .keyword-wrap .content .submit{
            margin-left: 50px;
            margin-top: 15px;
            padding: 6px 20px;
        }
    </style>
    <div class="main-place">
        <span class="main-placetitle"></span>
        <ul class="main-placeul">
            <li><a href="{:U('Model/index')}">系统</a></li>
            <li><a href="{:U('Route/lists')}">扩展工具</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
    </div>
    <div class="tab-wrap">
        <div class="tab_nav jstabnav">
            <ul>
                <li data-tab="tab1" class="current firsttab"><a href="javascript:void(0);" >新增页面</a></li>
                <!-- <li data-tab="tab2"><a href="javascript:void(0);" >文本</a></li> -->
                <p class="description_text">/*新增页面说明*/</p>
            </ul>
        </div>
        <script src="http://cdn.bootcss.com/wangeditor/2.1.20/js/lib/jquery-2.2.1.js"></script>
        <div class="keyword-wrap">
            <div class="content">
                <div class="keyword li-com" style="margin-top: 10px;">
                    <span class="key-text">eventkey：</span>
                    <input type="text" class="eventkey-p">
                </div>
                <div class="keyword li-com" style="margin-top: 10px;">
                    <span class="key-text">事件类型：</span>
                    <input type="text" class="eventtype-p">
                </div>
                <div class="reply li-com">
                    <span class="key-text">消息类型：</span>
                    <label for="for-tuwen" class="for-tuwen js-change-type"><input id="for-tuwen" type="radio" value="0" name="event-chose" checked="checked">图文</label>
                    <label for="for-text" class="for-text js-change-type"><input id="for-text" type="radio" value="1" name="event-chose">文本</label>
                    <label for="for-href" class="for-href js-change-type"><input id="for-href" type="radio" value="2" name="event-chose">链接</label>

                    <div class="text-content">
                        <textarea id="editor-w" style="width: 800px;"></textarea>
                    </div>
                </div>
                <input type="button" value="提交" class="submit js-submit">
            </div>
        </div>
        <!--脚本控制-->
        <script>
            var data = {};
            data.chose = 0;
            // 获取eventkey
            $('.eventkey-p').blur(function () {
                data.eventkey = $('.eventkey-p').val();
                console.log(data.eventkey);
            })
        
            // 获取eventtype
            $('.eventtype-p').blur(function () {
                data.eventtype = $('.eventtype-p').val();
                console.log(data.eventtype);
            })

            // 获取选中图文或文本
            $('.js-change-type').click(function () {
                var t = $(this);
                if (t.hasClass('for-tuwen')) {
                    data.chose = 0;
                } else if(t.hasClass('for-text')) {
                    data.chose = 1;
                } else if(t.hasClass('for-href')) {
                    data.chose = 2;
                } else {
                    data.chose = 0;
                }
            })
        
            // 获取图文中的标题
            $('.key-word-title-p').blur(function () {
                data.eventTitle = $(this).val();
                console.log(data.eventTitle);
            })

            // 获取文本中的内容
            $('#editor-w').blur(function () {
                data.eventTextCont = $(this).val();
                console.log(data.eventTextCont);
            })
        
            // 点击提交
            $('.js-submit').click(function () {
                console.log(data);
            })

            
            // 数据提交函数
            function sensDatas(e){
                // 提交信息
                var data_key = e;
                var sendData = $.ajax({
                    url: '',
                    method: 'post',
                    data: {},
                    dataType: 'json'
                })
                sendData.done(function (e) {
                    // console.log(e)
                    var status = JSON.parse(e.info)
                })
                sendData.fail(function () {
                    // console.log('请求失败，error')
                })
                console.log(data);
            }
        </script>

    </div>
   
</block>

<block name="script">
    <script src="__JS__/channel.js"></script>
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Wechat/index')}');
        $(function(){
            //支持tab
            showTab();
            $('.firsttab').click();
        })

    </script>
</block>
