<extend name="Public/base"/>

<block name="body">
    <style type="text/css">
        .form_info li>label{width: 130px;}
        .form_info li>a{ border-color: transparent;}
        .form_info li>a:hover{ border-color: transparent; cursor: pointer;}
        .table-list tr{
            height: 35px;
        }
        .table-list th{
            min-width: 100px;
        }
        .table-list tr td{
            text-align: center;
        }
    </style>
    <div class="main-place">
        <span class="main-placetitle"></span>
        <ul class="main-placeul">
            <li><a href="{:U('Model/index')}">系统</a></li>
            <li><a href="{:U('Route/lists')}">扩展工具</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
    </div>
    <div class="tab-wrap">
        <div class="tab_nav jstabnav">
            <ul>
                <li data-tab="tab1" class="current firsttab"><a href="javascript:void(0);" >关键字</a></li>
                <!-- <p class="description_text">/*新增说明*/</p> -->
            </ul>
        </div>
        <div class="tab-content">
            <form action="{:U('saveTool')}" class="form-horizontal qq_login form_info_ml">
                <div id="tab1" class="tab-pane in tab1">
                    <ul class="form_info ">
                        <li>
                            <label style="width: 100px;">关键字列表：</label>
                            <a href="?s=/Wechat/keyWord.html">
                                <input type="button" value="添加" class=""style="padding:5px 20px; margin-left:280px;" >
                            </a>
                        </li>
                        <table border="1" class="table-list" style="margin-left: 50px">
                            <tr>
                                <th>ID</th>
                                <th>关键字</th>
                                <th>回复内容</th>
                                <th>编辑</th>
                            </tr>
                            <tr>
                                <td>row 1, cell 1</td>
                                <td>row 1, cell 2</td>
                                <td>row 1, cell 2</td>
                                <td>row 1, cell 2</td>
                            </tr>
                            <tr>
                                <td>row 2, cell 1</td>
                                <td>row 2, cell 2</td>
                                <td>row 1, cell 2</td>
                                <td>row 1, cell 2</td>
                            </tr>
                        </table>
                    </ul>
                </div>
                <div class="form-item">
                    <label class="item-label"></label>
                    <div class="controls">
                        <div class="submit-btn js-submit-menuSettings" target-form="form-horizontal" style="width: 36px; cursor: pointer;">确 定</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
   
</block>

<block name="script">
    <script src="__JS__/channel.js"></script>
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Wechat/index')}');
        $(function(){
            //支持tab
            showTab();
            $('.firsttab').click();
        })

    </script>
    <script>
        var data = {};
        //上传图片选择文件改变后刷新预览图 || 获取背景图地址
        $("#zx_img").change(function (e) {
            //获取目标文件
            var file = e.target.files || e.dataTransfer.files;
            //如果目标文件存在
            if (file) {
                //定义一个文件阅读器
                var reader = new FileReader();
                //文件装载后将其显示在图片预览里
                reader.onload = function () {
                    $("#img_preview").attr("src", this.result);
                    data.PicBg = this.result;
                }
                //装载文件
                reader.readAsDataURL(file[0]);
            }
        });
        
        
        // 点击提交 获取整个数据
        $('.js-submit-menuSettings').click(function () {

            console.log('未做数据获取操作');
        })

    
        // 数据提交函数
        function sensDatas(e){
            // 提交信息
            var data_key = e;
            var sendData = $.ajax({
                url: '',
                method: 'post',
                data: {},
                dataType: 'json'
            })
            sendData.done(function (e) {
                // console.log(e)
                var status = JSON.parse(e.info)
            })
            sendData.fail(function () {
                // console.log('请求失败，error')
            })
            console.log(data);
        }
    </script>
</block>
