<extend name="Public/base"/>

<block name="body">
    <style type="text/css">
        .form_info li>label{width: 130px;}
        .keyword-wrap .content .li-com {
            padding: 5px;
        }
        .keyword-wrap .content .li-com input {
            padding: 3px 10px;
            margin-top: -3px;
        }
        .keyword-wrap .content .li-com span.key-text {
            display: inline-block;
            width: 100px;
            text-align: right;
            vertical-align: top;
        }
        .keyword-wrap .content .li-com label {
            margin: 0 15px;
        }
        .keyword-wrap .content .li-com .wangEditor-container {
            margin-left: 56px;
            max-width: 80%;
        }
        .keyword-wrap .content .li-com .tuwen-content {
            margin-left: 50px;
            margin-top: 10px;
            border: 1px solid #a9a9a9;
            padding: 10px;
        }
        .keyword-wrap .content .li-com textarea {
            width: 100%;
            min-height: 150px;
            padding: 15px;
            box-sizing: border-box;
        }
        .keyword-wrap .content .li-com .show-content {
            display: none;
        }
        .keyword-wrap .content .li-com .show-content.active {
            display: block;
        }

        .keyword-wrap .content .submit{
            margin-left: 50px;
            margin-top: 15px;
            padding: 6px 20px;
        }
        .tab-wrap{
            position: relative;
        }
        .tab-wrap .error-tip-box{
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,.3);
            text-align: center;
            z-index: 9;
        }
        .tab-wrap .error-tip-box p{
            position: absolute;
            top: 45%;
            left: 34%;
            max-width: 108px;
            display: inline-block;
            margin: 0 auto;
            padding: 10px 130px;
            background: #00000060;
            color: #fff;
            border-radius: 10px;
            z-index: 9;
        }
    </style>

    <script type="text/javascript" src="__STATIC__/webuploader/webuploader.js"></script>
    <div class="main-place">
        <span class="main-placetitle"></span>
        <ul class="main-placeul">
            <li><a href="{:U('Model/index')}">系统</a></li>
            <li><a href="{:U('Route/lists')}">扩展工具</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
    </div>
    <div class="tab-wrap">
        <div class="tab_nav jstabnav">
            <ul>
                <li data-tab="tab1" class="current firsttab"><a href="javascript:void(0);" >图文素材</a></li>
                <p class="description_text">素材说明 : 所有选项均为必填项</p>
            </ul>
        </div>
        <div class="error-tip-box js-show-error-tip-p">
            <p><span></span></p>
        </div>
        <div class="keyword-wrap" style="margin-top: 15px;">
            <div class="content">
                <div class="reply li-com">
                    <div class="tuwen-content show-content active">
                        <div class="bg-pic li-com">
                            <span class="key-text">素材标题：</span>
                            <input type="text" class="meterial-title-p" value="">
                            <i style="font-style: normal;color: #ff2020; margin-left: 30px;"> </i>
                        </div>
                        <div class="bg-pic li-com">
                            <span class="key-text">media_id：</span>
                            <input type="text" class="meterial-media-p" value="">
                            <i style="font-style: normal;color: #ff2020; margin-left: 30px;">图片素材列表里的media_id</i>
                        </div>
                        <div class="bg-pic li-com">
                            <span class="key-text">作者：</span>
                            <input type="text" class="meterial-auther-p" value="">
                            <i style="font-style: normal;color: #ff2020; margin-left: 30px;"> </i>
                        </div>
                        <div class="bg-pic li-com">
                            <span class="key-text">摘要：</span>
                            <input type="text" class="meterial-digest-p" value="">
                            <i style="font-style: normal;color: #ff2020; margin-left: 30px;"> </i>
                        </div>
                        <div class="bg-pic li-com">
                            <span class="key-text" style="margin-top: -3px;">封面：</span>
                            <label for="for-tuwen" class="for-tuwen js-change-keyw">
                                <input id="for-tuwen" type="radio" value="0" name="chose" checked="checked">否
                            </label>
                            <label for="for-text" class="for-text js-change-keyw">
                                <input id="for-text" type="radio" value="1" name="chose">是
                            </label>
                        </div>
                        <div class="bg-pic li-com">
                            <span class="key-text">描述：</span>
                            <div id="txtdiv" style="border:1px solid gray;min-height:240px;"></div>
                        </div>
                        <div class="bg-pic li-com">
                            <span class="key-text">跳转地址：</span>
                            <input type="text" class="meterial-url-p" value="">
                            <i style="font-style: normal;color: #ff2020; margin-left: 30px;"> </i>
                        </div>
                    </div>
                </div>
                <input type="button" value="提交" class="submit js-submit">
            </div>
        </div>
        <!--脚本控制-->
        <script>
            // 声明变量
            var data = {};
            $(function(){
                //初始化编辑器
                editor = new wangEditor("txtdiv");
                editor.create();

                //内容修改事件，此处做的是实时展示实际效果
                editor.onchange = function(){
                    //获取editor的html值
                    data.content = editor.$txt.html();
                    // $("#show_box").html(html)
                }
            });

            // 获取选中图文或文本
            $('.js-change-keyw').click(function () {
                var Sshow = $(this);
                data.show_cover_pic = Sshow.hasClass('for-tuwen') ? 0 : 1 ;
            });

            //  获得焦点，错误提示消失
            $('input').focusin(function(){
                $(this).parent().find('i').html('');
            })

            // 点击提交
            $('.js-submit').click(function () {
                var errorTip = $('.js-show-error-tip-p');
                data.title = $('.meterial-title-p').val();
                data.thumb_media_id = $('.meterial-media-p').val();
                data.author = $('.meterial-auther-p').val();
                data.digest = $('.meterial-digest-p').val();
                data.show_cover_pic = data.show_cover_pic || 0;
                data.content = data.content || 0;
                data.content_source_url = $('.meterial-url-p').val();
                // 判断是否有空值
                if (!data.title) {
                    errorTip.show();
                    errorTip.find('p span').html('素材标题为空，请输入标题。');
                    DialogErrorTip(0);
                    $('.meterial-title-p').parent().find('i').html("素材标题为空，请输入标题。");
                    return;
                }
                if (!data.thumb_media_id) {
                    errorTip.show();
                    errorTip.find('p span').html('素材缩略图输入有误。');
                    DialogErrorTip(0);
                    $('.meterial-media-p').parent().find('i').html("在此填入media_id ，非http://");
                    return;
                }
                if (!data.author) {
                    errorTip.show();
                    errorTip.find('p span').html('作者为空，请输入作者。');
                    DialogErrorTip(0);
                    $('.meterial-auther-p').parent().find('i').html("作者为空，请输入作者。");
                    return;
                }
                if (!data.digest) {
                    errorTip.show();
                    errorTip.find('p span').html('摘要为空，请输入摘要。');
                    DialogErrorTip(0);
                    $('.meterial-digest-p').parent().find('i').html("摘要为空，请输入摘要。");
                    return;
                }
                if (!data.content) {
                    errorTip.show();
                    errorTip.find('p span').html('描述为空，请输入描述。');
                    DialogErrorTip(0);
                    // $('.meterial-title-p').parent().find('i').html("素材标题为空，请输入标题。");
                    return;
                }
                if (!data.content_source_url) {
                    errorTip.show();
                    errorTip.find('p span').html('跳转地址为空，请输入跳转地址。');
                    DialogErrorTip(0);
                    $('.meterial-url-p').parent().find('i').html("跳转地址为空，请输入跳转地址。");
                    return;
                }



                sendDatas(data);
            });

            // 数据提交函数
            function sendDatas(e){
                var errorTip = $('.js-show-error-tip-p');
                // 提交信息
                var data_v = e;
                var sendData = $.ajax({
                    url: "{:U('Wxoperate/addNewsMeterial')}",
                    method: 'post',
                    data: data_v,
                    dataType: 'json'
                });
                sendData.done(function (e) {
                    if (!e) {
                        return;
                    } else if(e.code == 1) {
                        errorTip.show();
                        errorTip.find('p span').html('新增成功！');
                        DialogErrorTip(e.code);
                    } else {
                        errorTip.show();
                        errorTip.find('p span').html('新增失败！');
                        DialogErrorTip(e.code);
                    }
                });
                sendData.fail(function () {
                    errorTip.show();
                    errorTip.find('p span').html('服务器出错，请稍后重试！');
                    DialogErrorTip(0)
                })
            }

            // 错误弹框关闭
            function DialogErrorTip(e){
                var errorTip = $('.js-show-error-tip-p');
                if(e == 1){
                    setTimeout(function(){
                        errorTip.hide();
                        window.location.href = "{:U('Wxoperate/upnewslList')}";
                    },1500);
                    errorTip.click(function () {
                        errorTip.hide();
                        window.location.href = "{:U('Wxoperate/upnewslList')}";
                    })
                } else{
                    setTimeout(function(){
                        errorTip.hide();
                    },3500);
                    errorTip.click(function () {
                        errorTip.hide();
                    })
                }
            }
        </script>

        <!--按照官网上的说明，js和css的这两个引用应该放在body的末尾-->
        <script src="http://cdn.bootcss.com/wangeditor/2.1.20/js/wangEditor.js"></script>
        <link href="http://cdn.bootcss.com/wangeditor/2.1.20/css/wangEditor.css" rel="stylesheet">
    </div>

</block>

<block name="script">
    <script src="__JS__/channel.js"></script>
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Wechat/index')}');
        $(function(){
            //支持tab
            showTab();
            $('.firsttab').click();
        })

    </script>
</block>
