<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="applicable-device" content="mobile">
    <link href="style/css/common.css" rel="stylesheet" >
    <link href="style/css/user.css" rel="stylesheet" >
    <script src="style/js/jquery-1.11.1.min.js"></script>
    
	</head>
	<body class="user-auth">
    <header class="header">
      <section class="wrap">
        <a href="user.html" class="hbtn left arrow-left"><span class="table"><span class="table-cell"><img src="style/images/back_return.png"></span></span></a>
        <div class="caption"><span class="table"><span class="table-cell">实名认证</span></span></div>
      </section>
    </header>
    <div class="occupy"></div>
    
    <section class="trunker">
      
      <section class="inner">
        <section class="contain">
          <!-- 已认证 -->
          <div class="authed-info">
            <img src="style/images/fq/my_real_already.png" class="portrait">
            <div class="title">您已进行过实名认证</div>
            <table>
              <tr><td>真实姓名：</td><td>张三</td></tr>
              <tr><td>身份证号：</td><td>3****************4</td></tr>
            </table>
          </div>
          
        </section>
        
      </section>
    </section>
    
    <script src="style/js/common.js"></script>
    <script>
        $(function() {
          

          
        });
        
        
        
    </script>
	</body>
</html>